<div>
  <%= link_to 'Create Course', new_course_path %>
  <% @courses.each do |course| %>
    <%= course.title %>
    <%= link_to 'Edit', edit_course_path(course) %>
    <%= link_to 'Remove', course_path(course), data: {turbo_method: :delete} %>
  <% end %>
</div>